<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="13038MrGottham.OSFinansstyring" Publisher="CN=6C89856B-6378-4895-AE0B-8AFBF7818257" Version="1.0.1.0" />
  <Properties>
    <DisplayName>OS Finansstyring</DisplayName>
    <PublisherDisplayName>MrGottham</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="OSDevGrp.OSIntranet.Gui.Finansstyring.App">
      <VisualElements DisplayName="OS Finansstyring" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Finansstyring til OS Intranet" ForegroundText="light" BackgroundColor="#3264C8">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" ShortName="OS Finans" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#464646" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="OSDevGrp.OSIntranet.Gui.Runtime.FinansstyringsnyhederLoaderBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="OSDevGrp.OSIntranet.Gui.Runtime.FinansstyringSyncDataBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>